<div class="application">


    <div class="row">
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Application ID</label>
                <div class="form-control">
                    {{ values.applicationId }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Name of Applicant</label>
                <div class="form-control">
                    {{ values.applicantName }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Name of the Applicant’s Mother</label>
                <div class="form-control">
                    {{ values.motherName }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Date of Birth</label>
                <div class="form-control">
                    {{ values.dob }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Email ID</label>
                <div class="form-control">
                    {{ values.email }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Contact No</label>
                <div class="form-control">
                    {{ values.contactNumber }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Nationality</label>
                <div class="form-control">
                    {{ values.nationality }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Category</label>
                <div class="form-control">
                    {{ values.category }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">Gender</label>
                <div class="form-control">
                    {{ values.gender }}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <label class="form-label">Address for Communication</label>
        <div class="form-control">
            {{ values.address }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mt-3">
                <label class="form-label">10th Marks</label>
                <div class="form-control">
                    {{ values.marks10 }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">12th Marks</label>
                <div class="form-control">
                    {{ values.marks12 }}
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col">
            <div class="mt-3">
                <label class="form-label">10th School Name</label>
                <div class="form-control">
                    {{ values.school10 }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mt-3">
                <label class="form-label">12th College Name</label>
                <div class="form-control">
                    {{ values.college12 }}
                </div>
            </div>
        </div>
    </div>


</div>